*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
h3{
    background-color: aquamarine;
    margin: 0 auto;
    font-size: 2rem;
    color: black;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    position: relative;
}

table tr td{
    font-size: 1.2rem;
    text-align: left;
    width: 17rem;
    padding: 1rem;
    text-transform: uppercase;
}
.data{
    text-align: right;
}
.comp{
    color: red;
}
table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
    padding: 5px 10px;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 15px;
    background-color: #212121;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    border: 0px solid;
}
button:hover{
    justify-content: space-around;
    padding: 4px 9px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}